@font-face {
  font-family: "iconfont"; /* Project id 2113600 */
  src: url('iconfont.woff2?t=1629571253429') format('woff2'),
       url('iconfont.woff?t=1629571253429') format('woff'),
       url('iconfont.ttf?t=1629571253429') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghaodenglu:before {
  content: "\e714";
}

.icon-saomadenglu1:before {
  content: "\e663";
}

.icon-menu-unfold:before {
  content: "\e60b";
}

.icon-menu-fold:before {
  content: "\e6be";
}

.icon-dingding:before {
  content: "\e608";
}

.icon-qq:before {
  content: "\e61c";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-github:before {
  content: "\e677";
}

.icon-weixin:before {
  content: "\e686";
}

.icon-qiyeweixin:before {
  content: "\e6af";
}

